<!DOCTYPE html>

{# 
    Object      data                        controller DTO
    []          meta_data                   TwigView->metaData
    string      template_controller_name    controller name
    string      template_action_type        dynamic_action or action
    null|Object translate                   Translate service
    null|string template_action_name        dynamic action name
#}

{% set controllersDir = 'controllers' %}
{% set headsDir = 'heads' %}

{% set action_name = template_action_name ? template_action_name ~ '.twig' : 'index.twig' %}
{% set template_tail = template_controller_name ~ '/' ~ template_action_type ~ '/' ~ action_name %}
{% set controller_template = controllersDir ~ '/' ~ template_tail %}
{% set head_template = headsDir ~ '/' ~ template_tail %}

{% set language = 'en' %}

<html lang="{{ language }}">
 
    {% include 'layouts/head.twig' %}

    <body class="container-fluid p-0">
        
        {% include 'layouts/header.twig' %}

        <!-- Dynamic content start -->
        {% include controller_template with {'data': data} only %}
        <!-- Dynamic content end -->

        {% include 'layouts/footer.twig' %} 

        {% include 'layouts/before-body-close-tag.twig' %}
    </body>
</html>