<!DOCTYPE html>

{# 
    data - Controller DTO
#}

{% set language = 'en' %}

<html lang="{{ language }}">
 
    {% include 'layouts/head.twig' %}

    <body class="container-fluid p-0">
        
        {% include 'layouts/header.twig' %}

        <!-- Dynamic content start -->
        {% include content_template with {'data': data} only %}
        <!-- Dynamic content end -->

        {% include 'layouts/footer.twig' %} 

        {% include 'layouts/before-body-close-tag.twig' %}

    </body>
</html>