<!DOCTYPE html>
<html>

    <head>
        {% include 'layouts/head.twig' %}
    </head>

    <body>
        <div id="header">
            {% include 'layouts/header.twig' %}
        </div>

        <div id="content">
            {% include content_template with {'data': data} only %}
        </div>

        <div id="footer">
            {% include 'layouts/footer.twig' %}
        </div>   

    </body>
</html>