<!DOCTYPE html>
<html>

    <head>
        {% include 'layouts/head.twig' %}
    </head>

    <body class="container-fluid">
        <div id="header" class="row">
            {% include 'layouts/header.twig' %}
        </div>

        <div id="content" class="row">
            {% include content_template with {'data': data} only %}
        </div>

        <div id="footer" class="row">
            {% include 'layouts/footer.twig' %}
        </div>   

    </body>
</html>