<!DOCTYPE html>

{% set language = 'en' %}

<html lang="{{ language }}">
    <head>
        {% include 'layouts/head.twig' %}
    </head>

    <body class="container-fluid">
        <div id="header" class="row">
            {% include 'layouts/header.twig' %}
        </div>

        <div id="content" class="row">
            {% include content_template with {'data': data} only %}
        </div>

        <div id="footer" class="row">
            {% include 'layouts/footer.twig' %}
        </div>   

        {% include 'layouts/before-body-close-tag.twig' %}
    </body>
</html>