<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="/media/img/404/404-1.jpeg">
        </div>
        <div class="col-md-6">
            <h1>The requested page was not found on our server.</h1>
            <p class="lead">Please check the request and try again</p>
        </div>
    </div>
</div>
