<div class="row">
    <form class="api-search-form d-flex" method="get" action="{{ searchUrl }}">
        <!-- @todo replace maxlength with var -->
        <input class="api-search-query form-control me-2" type="text" name="query" placeholder="{{ translate.t('Search') }}" aria-label="Search" maxlength="255">
        <button class="api-search-btn btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <script type="module" src="/media/js/frontend/search/index.js"></script>
</div>