{# 
    Object      data                    Controller DTO
    string      template_full_prefix    path to this folder
#}

{% extends "base_layouts.twig" %}

{% block content %}
<div id="content" class="container-fluid p-0 mt-2">
    <div class="container-xxl p-0">
        <!-- Banner -->
    {% set banner = data.banner %}
    {% include template_full_prefix ~ '/blocks/banners.twig' with {'translate': t, 'u': u, 'banner': banner, 'imageFrontendPath': imageFrontendPath } only %}
        <!-- Banner -->

        <!-- H1 Start -->
        <div class="container my-4">
            <div class="row">
                <h1 class="text-center">{{ data.getName() }}</h1>
                <p class="col-11 mx-auto lead my-3">{{ data.getDescription() }}</p>
            </div>
        </div>
        <!-- H1 end -->

        <!-- Block Latest publication start -->
        <div class="container-fluid">
            <div class="row">
                <!-- Main start -->
                <div class="col-xxl-9">
                    <div class="container-lg">
                        <h2 class="h5">{{ translate.t('article.h2.publications') }}</h2>
                        {% set articles = data.getArticles() %}
                        {% if articles|length == 0 %} 
                            {% include template_full_prefix ~ '/blocks/zero_articles.twig' with {'translate': translate} only %}
                        {% else %}
                        <!-- refactor -->
                            {% include template_full_prefix ~ '/blocks/articles.twig' with {'articles': articles, 'translate': translate, 'u': u, 'article_page_url': data.articlePageUrl, 'data': data } only %}
                        {% endif %}
                    </div>
                    <hr>
                </div>
                <!-- Main end -->
                <!-- Aside block start -->
                <div class="col-xxl-3">
                    <!-- Most Visited -->
                    {% include template_full_prefix ~ '/blocks/most-visited.twig' %}
                    <hr>
                </div>
                <!-- Aside block end -->
            </div>
        </div>
        <!-- Block Latest publication end -->

        <!-- pagination -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-9">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm justify-content-center">
                            {{ data.showPagination()|raw }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}