{# 
    data                - Controller DTO
    data.getArticles()  - a list of ArticleDTO
#}

<div id="content" class="container-fluid mt-2">
    <div class="container-lg">
        <h1 class="text-center">{{ data.getName() }}</h1>
        <p class="lead my-3">{{ data.getDescription() }}</p>
        <h2 class="text-center">Last 5 articles</h2>
        <div>
            {% for article in data.getArticles() %}
                <p>{{ article.getName() }}</p>
            {% endfor %}
        </div>
    </div>
</div>