<div class="d-none api-continue-reading-data"
    data-idfield="{{ data.continueReadingIdField }}"
    data-id="{{ data.article.articleId }}"
    data-tokenfield="{{ data.csrfTokenField }}"
    data-token="{{ data.csrfToken }}"
></div>
<script type="module" src="/media/js/frontend/continue_reading/index.js"></script>
