<div class="d-none api-articleviews-data"
    data-idfield="{{ data.idField }}"
    data-id="{{ data.article.articleId }}"
></div>
<script type="module" src="/media/js/frontend/articleviews/index.js"></script>
