<div class="container">
    <h1 class="text-center">{{ data.getName() }}</h1>
    <ul>
        <span class="h3">Protos</span>
        <li><a href="/media/html/index.html">Home</a></li>
        <li><a href="/media/html/news.html">News</a></li>
        <li><a href="/media/html/news-full.html">News Full</a></li>
    </ul>
        <div>
            {{ data.getDescription() }}
        </div>
</div>

