<div id="content" class="container-fluid mt-2">
    <h1 class="text-center">{{ data.getName() }}</h1>
    <p><a href="/media/html/proto.html">Proto pages</a></p>
    <div>
        {{ data.getDescription() }}
    </div>
</div>