<div class="container">
    <h1 class="text-center">{{ data.getName() }}</h1>
    <ul>
        <a href="/media/html/proto.html">Proto pages</a>
        <div>
            {{ data.getDescription() }}
        </div>
</div>

