<!-- Model Accept Terms -->
<div class="modal" tabindex="-1" id="accept-terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- background-secondary -->
      <div class="modal-header bg-white">
        <h5 class="modal-title">Agree to Terms and Conditions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>We use essential cookies to make our site work. With your consent, we may also use non-essential cookies to improve user experience and analyze website traffic. By clicking “Accept,” you agree to our website's cookie use as described in our Cookie Policy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Decline</button>
        <button type="button" class="btn btn-secondary">Accept</button>
      </div>
    </div>
  </div>
</div>