{#
    object          data            Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Image\DefaultAction\ViewDto
#}

{% set newUrl = u.fromArray(['root', 'admin', 'image', 'new' ]) %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p>{{ data.description }}</p>

        {% if data.imagesList|length == 0 %} 
            {% include controller_template_dir ~ '/zero_images.twig' with {'t': translate, 'newUrl': newUrl} only %}
        {% else %}
            {% include controller_template_dir ~ '/images.twig' with {'data': data, 't': translate, 'u': u, 'newUrl': newUrl } only %}
        {% endif %}

    </div>
</div>