<div class="col-md-3 mx-auto">
    <h2 class="image px-2">Images</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'image']) }}">Images list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'image', 'new']) }}">Create new</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'imagecache']) }}">Image cache</a></li>
    </ul>
</div>