<div class="col-md-3 mx-auto">
    <h2 class="translates px-2">Translates</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'translate']) }}">Translates list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'translate', 'new']) }}">Create new</a></li>
    </ul>
</div>