<!DOCTYPE html>

{# 
    Object      data                        controller DTO
    []          meta_data                   TwigView->metaData
    string      template_controller_name    controller name
    string      template_action_type        dynamic_action or action
    Object      translate                   Translate service
    Object      urlbuilder                  Urlbuilder class
    string      message                     a message to display to user
#}

{% set controllersDir = 'admin/controllers' %}
{% set headsDir = 'admin/heads' %}

{# set template_tail = template_controller_name ~ '/' ~ template_action_type ~ '/' ~ action_name #}

{% set template_folder = template_controller_name ~ '/' ~ template_action_type %}
{% set action_name = 'index.twig' %}
{% set controller_template_dir = controllersDir ~ '/' ~ template_folder %}
{% set controller_template = controller_template_dir ~ '/' ~ action_name %}
{% set head_template = headsDir ~ '/' ~ template_folder ~ '/' ~ action_name %}

{% set language = meta_data.language %}

<html lang="{{ language }}">
    {% include 'admin/layouts/head.twig' %}
    <body class="container-fluid p-0">     
        {% include 'admin/layouts/header.twig' with {'translate': translate, 'u': urlbuilder} only %}

        {% include 'admin/layouts/message.twig' with { 'message': message } only %}

        <!-- Dynamic content start -->
        {% include controller_template with {'data': data, 'translate': translate, 'u': urlbuilder, 'controller_template_dir': controller_template_dir} only %}
        <!-- Dynamic content end -->

        {% include 'admin/layouts/footer.twig' %} 
        {% include 'admin/layouts/before-body-close-tag.twig' %}
    </body>
</html>