<div class="container-sm">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <div class="col-6 mx-auto"> 
            {% if data.adminUser is null %}
                Show form
            {% else %}
                You already logged in. Please logout first.
            {% endif %}
        </div>
    </div>
</div>