{#
    string          urlNew                  url to create new author
#}

{%  set  urlNew = u.fromArray(['root', 'admin', 'translate', 'new']) %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p>{{ data.description }}</p>

        {% if data.translateList|length == 0 %} 
            {% include controller_template_dir ~ '/zero_translates.twig' with {'t': translate, 'urlNew': urlNew} only %}
        {% else %}
            {% include controller_template_dir ~ '/translates.twig' with {'data': data, 't': translate, 'u': u, 'urlNew': urlNew } only %}
        {% endif %}

    </div>
</div>