<h2 class="text-center">{{ t.t('Special offers') }}</h2>
<!-- 1 -->
<div class="card mx-2" style="width: 18rem;">
    <picture>
        <source media="(max-width: 576px)" srcset="/img.php?id=127&type=webp&width=576&height=576">
        <source media="(max-width: 768px)" srcset="/img.php?id=127&type=webp&width=768&height=768">
        <source media="(min-width: 768px)" srcset="/img.php?id=127&type=webp&width=1080&height=1080">
        <img 
            class="img-fluid rounded-start"
            src="/media/img/common/3BegpxqtH0rzb4wh4zZT.webp"
        >
    </picture>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<!-- 2 -->
<div class="card mx-2" style="width: 18rem;">
    <picture>
        <source media="(max-width: 576px)" srcset="/img.php?id=128&type=webp&width=576&height=576">
        <source media="(max-width: 768px)" srcset="/img.php?id=128&type=webp&width=768&height=768">
        <source media="(min-width: 768px)" srcset="/img.php?id=128&type=webp&width=1080&height=1080">
        <img 
            class="img-fluid rounded-start"
            src="/media/img/common/66VkfbtQ0pMUxMnktfi1.webp"
        >
    </picture>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<!-- 3 -->
<div class="card mx-2" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>