{% extends "base_admin_layouts.twig" %}

{% block content %}
{% set createUrl = u.fromArray(['root', 'admin', 'article', 'new' ]) %}

<div class="container-md">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p class="lead description">{{ data.description }}</p>
        {% if data.articleList|length == 0 %} 
            {% include template_full_prefix ~ '/zero_articles.twig' with {'translate': translate, 'createUrl': createUrl} only %}
        {% else %}
            {% include template_full_prefix ~ '/articles.twig' with {'data': data, 't': translate, 'u': u, 'createUrl': createUrl, 'visitor': visitor} only %}
            <!-- refactor -->
        {% endif %}

    </div>
</div>
{% endblock %}