<div class="row my-2">
    <div class="container">
        <div class="row">
            <p class="text-center">&copy; 2025 {{translate.t('footer.copyright')}} {{translate.t('footer.by_romanenko')}}</p>
        </div>
    </div>
</div>