<div class="container">
    <div class="row">
        <div class="col-lg-9 mb-md-3 mx-auto">
            <h1 class="text-center">{{translate.t('server-error.header')}}</h1>
            <p class="bg-secondary text-white px-2 py-1 h5">{{translate.t('server-error.message')}}</p>
            <img class="img-fluid" src="/media/img/server-error/gear.jpeg">
        </div>
    </div>
</div>