<h2 class="text-center">Images</h2>

{% if images|length == 0 %}
    <p>Is not the author of any of the images</p>
{% else %}
    <p>Author of images</p>
    {% for image in images %}
        <div class="col-sm-3">
            <a href="#" target="_self">
                <img class="img-fluid" 
                    src="/img.php?id={{ image }}&type=webp&width=200&height=100" 
                    alt=""
                >
            </a>
        </div>
    {% endfor %}
{%  endif %}