<div class="col-md-3 m-2">
    <h2 class="authors px-2">Authors</h2>
    <ul>
    <li><a href="{{ u.fromArray(['root', 'admin', 'author']) }}">Authors list</a></li>
    <li><a href="{{ u.fromArray(['root', 'admin', 'author', 'new']) }}">Create new</a></li>
    </ul>
</div>