{% if (breadrumb) %}
  <div class="container-sm my-md-2">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              {% set count = 0 %}
              {% set length = breadrumb|length %}
              {% if length > 1 %}
                {% for item in breadrumb %}
                  {% set count = count + 1 %}
                  {% set name = item.getName() %}
                  {% set description = item.getDescription() %}
                  {% set url = item.getUrl() %}
                  {% set active = '' %}
                  {% if length == count %}
                    <li class="breadcrumb-item active" aria-current="page">{{ description }}</li>
                  {% else %}
                    <li class="breadcrumb-item"><a href="{{ url }}" title="{{ description }}">{{ description }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
          </ol>
        </nav>
        <i class="bi bi-0-square"></i>
  </div>
{% endif %}