{#
    string          urlNew                  url to create new category
#}

{% extends "base_admin_layouts.twig" %}

{% block content %}
{%  set  urlNew = u.fromArray(['root', 'admin', 'category', 'new']) %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p>{{ data.description }}</p>

        {% if data.categoryList|length == 0 %} 
            {% include template_full_prefix ~ '/zero_categories.twig' with {'t': translate, 'urlNew': urlNew} only %}
        {% else %}
            {% include template_full_prefix ~ '/categories.twig' with {'data': data, 't': translate, 'u': u, 'urlNew': urlNew, 'visitor': visitor } only %}
        {% endif %}

    </div>
</div>
{% endblock %}