<div class="container-fluid bg-secondary text-white">
    <div class="row">
        <div class="col-sm">
            <span class="me-2">
                <a class="link-none-white" href="{{ u.fromArray(['root']) }}" target="_blank">Frontend</a>
            </span>
        </div>
    </div>
</div>