<!-- Display a message -->
<div class="text-center" style="height: 9px">
    <span class="message bg-warning px-2 d-none">{{ message }}</span>
</div>
{% if message != null %}
    <script>
        (function name(params) {
            var messageElements = document.getElementsByClassName('message');
            if (messageElements.length === 0 ) {
                console.error('Message elements not found on the page, pls check it by class name "message"');
                return;
            }
            for (var elem of messageElements) {
                elem.classList.remove("d-none");
                elem.classList.add("d-inline-flex");
                setTimeout(() => {
                    elem.classList.remove("d-inline-flex");
                    elem.classList.add("d-none");    
                }, 4000);
            }
        })()
    </script>
{% endif %}