{% extends "base_admin_layouts.twig" %}

{% block content %}

<div class="container-md">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p class="lead description">{{ data.description }}</p>
    </div>
</div>
{% endblock %}