<div class="col-md-3 mx-auto">
    <h2 class="articles px-2">Articles</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'article']) }}">Articles list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'article', 'new']) }}">Create new</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'article', 'most_visited']) }}">Most visited</a></li>
    </ul>
</div>