<div class="col-md-3 mx-auto">
    <h2 class="banners px-2">Banners</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'banner']) }}">Banners list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'banner', 'new']) }}">Create new</a></li>
    </ul>
</div>