<div class="col-md-3 mx-auto">
    <h2 class="categories px-2">Categories</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'category']) }}">Categories list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'category', 'new']) }}">Create new</a></li>
    </ul>
</div>