<div class="col-md-3 mx-auto">
    <h2 class="pages px-2">Pages</h2>
    <ul>
        <li><a href="{{ u.fromArray(['root', 'admin', 'page']) }}">Pages list</a></li>
        <li><a href="{{ u.fromArray(['root', 'admin', 'page', 'new']) }}">Create new</a></li>
    </ul>
</div>