<div class="row mx-5 my-4">
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold">Law carrier</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Education</a></li>
                <li><a class="link-none" href="#">Exams</a></li>
                <li><a class="link-none" href="#">Attorney's license</a></li>
                <li><a class="link-none" href="#">Our partners</a></li>
                <li><a class="link-none" href="#">Work in Lawshield</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">Authors</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Conditions of publication</a></li>
                <li><a class="link-none" href="#">Benefits</a></li>
                <li><a class="link-none" href="#">Contacts</a></li>
                <li><a class="link-none" href="#">Special offers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">Customers</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Account</a></li>
                <li><a class="link-none" href="#">Recovery</a></li>
                <li><a class="link-none" href="#">Feedback</a></li>
                <li><a class="link-none" href="#">Contacts</a></li>
                <li><a class="link-none" href="#">Special offers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">Lawshield</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="/{{ language }}/about">About</a></li>
                <li><a class="link-none" href="#">Why subscribe?</a></li>
                <li><a class="link-none" href="#">Authors</a></li>
                <li><a class="link-none" href="#">Training</a></li>
                <li><a class="link-none" href="#">Commercial offer</a></li>
            </ul>
        </div>
    </div>
</div>