{# 
    Object          data                        Romchik38\Site2\Infrastructure\Controllers\Actions\GET\Admin\Author\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\ListView\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
{% set audio = data.audioDto %}
{% set translates = audio.translates %}
<!-- Inside a form -->
<h2 class="text-center">Translates</h2>

<div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for availableLanguage in availableLanguages  %}
            {% set availableLanguageVo = availableLanguage.identifier %}
            {% set break = false %}
            {% for translate in translates %}
                {% set languageVo = translate.language %}
                {% set descriptionVo = translate.description %}
                {% if languageVo.__toString() == availableLanguageVo.__toString() %}
                    <!-- translate exust -->
                    <tr>
                        <td>{{ languageVo }}</td>
                        <td>{{ translate.name }}</td>
                        <td><a href="#">edit</a></td>
                    </tr>
                    {% set break = true %}
                {% else %}
                    <!-- translate not exust -->
                     {% if not break %}
                        <tr>
                            <td>{{ availableLanguageVo }}</td>
                            <td colspan="2"><a href="#">add</a></td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}


        {% endfor %}
      </tbody>
    </table>
</div>