.articles {
    background-color: #d28960;
}

.users {
    background-color: #c7a0ce;
}

.imagecache {
    background-color: #a2cdce;
}

.authors {
    background-color: #696fb9;
}

.languages {
    background-color: #a77983;
}