.articles {
    background-color: #d28960;
}

.audios {
    background-color: #606bd2;
}

.authors {
    background-color: #696fb9;
}

.categories {
    background-color: #d5556c;
}

.users {
    background-color: #c7a0ce;
}

.imagecache {
    background-color: #a2cdce;
}

.languages {
    background-color: #a77983;
}

.translates {
    background-color: #41a22b;
}