.link-none-white {
    text-decoration: none;
    color: #f8f9fa;
}

.form-group {
    background-color: #c3cccc;
    
}

.description {
    background-color: #0d6dfd39;
    border-left: 5px solid #0d6efd;
}

/* Categories */
.articles {
    background-color: #d28960;
}

.audios {
    background-color: #606bd2;
}

.authors {
    background-color: #9a9cc3;
}

.banners {
    background-color: #e370d1;
}

.categories {
    background-color: #d5556c;
}

.pages {
    background-color: #979495;
}

.users {
    background-color: #c7a0ce;
}

.image {
    background-color: #a2cdce;
}

.languages {
    background-color: #a77983;
}

.translates {
    background-color: #77b569;
}
