/* 2 col Images on home page */
.medium-news div.img {
    height: 400px;
    overflow: hidden;
}

.comments {
    font-size: 0.8rem;
}

.courses {
    background-color: #e9e9e9;
}

/* RESPONSE */
@media screen and (max-width: 576px) {
    /* 2 col Images on home page */
    .medium-news div.img {
        height: auto;
    }

    /* Font size */
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    /* News */
    h4 {
        font-size: 1.1rem;
    }

    /* aside */
    h5 {
        font-size: 1rem;
    }

    /* p.h6, p, ul {
        font-size: 0.9rem;
    } */

    /* .comments {
        font-size: 0.6rem;
    } */

}