/* 1. COLORS */

/* Main */
.color-main {
    color: #f6f7eb;
}

.background-main {
    background-color: #f6f7eb;
}

/* Primary */
.color-primary {
    color: #393e41;
}

.background-primary {
    background-color: #393e41;
}

/* Secondary */
.color-secondary {
    color: #e94f37;
}

.background-secondary {
    background-color: #e94f37;
}

/* REPLACE BOOTSTRAP  */
/* Nav */
.nav-link, .dropdown {
    color: #212529;
}

.nav-link:hover {
    color: #e94f37;
}

.nav-link:focus {
    color: #e94f37;
}