/* 1. COLORS */

/* Main */
.color-main {
    color: #f6f7eb;
}

.background-main {
    background-color: #f6f7eb;
}

/* Primary */
.color-primary {
    color: #393e41;
}

.background-primary {
    background-color: #393e41;
}

/* Secondary */
.color-secondary {
    color: #e94f37;
}

.background-secondary {
    background-color: #e94f37;
}

/* Lines */
.background-line {
    background-color: #e9e9e9;
}

.background-line-light {
    background-color: #f4f4f4;
}

/* Nav */
.background-nav-dropdown {
    background-color: #e9e9e9;
}

/* Forms */
.language {
    width:auto;
}

/* Links */
.link-none {
    text-decoration: none;
    color: #212529;
}

.link-none:hover {
    color: #212529;
}

.link-none-white {
    text-decoration: none;
    color: #f8f9fa;
}

.link-none-white:hover {
    color: #f8f9fa;
}

/* REPLACE BOOTSTRAP  */
/* Nav */
.nav-link, .dropdown {
    color: #212529;
}

.nav-link:hover {
    color: #e94f37;
}

.nav-link:focus {
    color: #e94f37;
}

/* Btn */
.btn.background-primary {
    color: #f6f7eb;
}

.btn.background-primary:hover {
    background-color: #212529;
}

.btn.background-secondary {
    color: #f6f7eb;
}
.btn.background-secondary:hover {
    background-color: #f04329;
}

/* RESPONSE */
@media screen and (max-width: 576px) {

}