<div class="container-sm my-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Category</a></li>
          <li class="breadcrumb-item active" aria-current="page">Post</li>
        </ol>
      </nav>
      <i class="bi bi-0-square"></i>
</div>