<div class="container-fluid background-secondary text-light">
    <div class="row py-1">
        <div class="col">
            <div class="ms-md-5">
                <span class="me-2">Link1</span>
                <span class="me-2">Link2</span>
                <span class="me-2">Link3</span>
            </div>
        </div>
        <div class="col-md-2">
            <select class="language text-white background-secondary p-0" style="border: 0">

                {% for language in meta_data.languages %}
                    {% set selected = '' %}
                    {% set value = '' %}
                    {% if language == meta_data.language %}
                        {% set selected = 'selected' %}
                    {% else %}
                        {{ language }}
                        {% if (meta_data.breadrumb) %}
                            {% set item = meta_data.breadrumb|last %}
                            {% set arr = item.getUrl()|split('/') %}
                            
                            {% set value = arr|join('/') %}
                        {% endif %}
                    {% endif %}
                    <option value="{{value}}" {{selected}}>{{translate.translate('global.language', language)}}</option>
                {% endfor %}

            </select>
        </div>
    </div>
</div>