<div class="container-fluid background-secondary text-light">
    <div class="row py-1">
        <div class="col">
            <div class="ms-md-5">
                <span class="me-2">Link1</span>
                <span class="me-2">Link2</span>
                <span class="me-2">Link3</span>
            </div>
        </div>
        <div class="col-md-2">
            <select class="language text-white background-secondary p-0" style="border: 0" disabled>

                {% for language in meta_data.languages %}
                    {% set selected = '' %}
                    {% set disabled = '' %}
                    {% set value = '' %}
                    {% if language == meta_data.language %}
                        {% set selected = 'selected="true"' %}
                        {% set disabled = 'disabled' %}
                    {% else %}
                        {% if (meta_data.breadrumb) %}
                            {% set item = meta_data.breadrumb|last %}
                            {% set arr = item.getUrl()|split('/') %}
                            {% for part in arr %}
                                {% if loop.index == 2 %}
                                    {% set value = '/' ~ language %}
                                {% elseif loop.index > 2 %}
                                    {% set value = value ~ '/' ~ part %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    
                    <option value="{{value}}" {{disabled}} {{selected}}>{{translate.translate('global.language', language)}}</option>
                {% endfor %}

            </select>
        </div>
    </div>
</div>