<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-sm-none" href="#">Lawshield</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Latest</a>
                </li>
                <!-- Trafic -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Traffic
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Legislative changes<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Consultations</a></li>
                        <li><a class="dropdown-item" href="#">Judicial practice</a></li>
                        <li><a class="dropdown-item" href="#">Common mistakes</a></li>
                        <li><a class="dropdown-item" href="#">Real proceedings</a></li>
                        <li><a class="dropdown-item" href="#">Car accident</a></li>
                        <li><a class="dropdown-item" href="#">Vehicle stop</a></li>
                        <li><a class="dropdown-item" href="#">Imposed a fine</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <!-- Administrative -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administrative
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Legislative changes</a></li>
                        <li><a class="dropdown-item" href="#">Consultations<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Real proceedings</a></li>
                        <li><a class="dropdown-item" href="#">Imposed a fine</a></li>
                        <li><a class="dropdown-item" href="#">Administrative detention</a></li>
                        <li><a class="dropdown-item" href="#">Appeal</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <!-- Military -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Military
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#">Legislative changes</a></li>
                        <li><a class="dropdown-item" href="#">Consultations</a></li>
                        <li><a class="dropdown-item" href="#">Judicial practice</a></li>
                        <li><a class="dropdown-item" href="#">Real proceedings</a></li>
                        <li><a class="dropdown-item" href="#">Military registration document<small
                                    class="color-secondary"> hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Reservation</a></li>
                        <li><a class="dropdown-item" href="#">Military deferment</a></li>
                        <li><a class="dropdown-item" href="#">Military medical commission</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <!-- Martial law -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Martial law
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">State</a></li>
                        <li><a class="dropdown-item" href="#">Citizen</a></li>
                        <li><a class="dropdown-item" href="#">Organizations</a></li>
                        <li><a class="dropdown-item" href="#">Military forces</a></li>
                        <li><a class="dropdown-item" href="#">Police</a></li>
                        <li><a class="dropdown-item" href="#">Security Service</a></li>
                        <li><a class="dropdown-item" href="#">Military volunteer<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Internally displaced person</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <div class=" nav-link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </ul>
        </div>
    </div>
</nav>