
{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      template_full_prefix     path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Article\MostVisited\DefaultAction\ViewDto
#}

{% extends "base_admin_layouts.twig" %}

{% block content %}
    <h1 class="text-center">{{ data.getName() }}</h1>
    <p>{{ data.getDescription() }}</p>
{% endblock %}
