{#
    Object      u                       urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      controller_template_dir path to this folder

#}
<div class="text-center">
    <span class="bg-secondary text-white">{{ data.message }}</span>
</div>
<div class="container-sm">
    <div class="row">
        {% include controller_template_dir ~ '/blocks/' ~ 'articles.twig' %}
        {% include controller_template_dir ~ '/blocks/' ~ 'images.twig' %}
        {% include controller_template_dir ~ '/blocks/' ~ 'users.twig' %}
    </div>    
</div>