{#
    Object      u               urlbuilder              {{ u.fromArray(['root', 'product']) }}
#}
<div class="text-center">
    <span class="bg-secondary text-white">{{ data.message }}</span>
</div>
<div>
    Wellcome to admin panel
</div>