{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      controller_template_dir     path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Controllers\Actions\GET\Admin\Author\DynamicAction\ViewDto
    Object      author                      Romchik38\Site2\Application\Author\AdminView\View\AuthorDto
#}

{% set author = data.authorDto %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">Author view page</h1>
        <p>On this page you can view and edit information about author.</p>
        <div>Id - {{ author.identifier }}<div>
        <div>Name - {{ author.name }}<div>
    </div>
</div>

