{# 
    Object      data                    Controller DTO
    string      template_full_prefix    path to this folder
#}

{% extends "base_layouts.twig" %}

{% block content %}
{% set page = data.page %}
<div class="container-sm">
    <div class="row mb-4">
        <div class="col">
            <h1 class="text-center">{{ page.getName() }}</h1>
            <p class="lead mt-5 p-3 bg-light border-start border-5">{{ page.getShortDescription() }}</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {{ page.getDescription()|raw }}
        </div>
    </div>
    <div class="api-contacts-form" style="display: none">
        <form class="col-sm-6">
            <div class="mb-3">
                <label for="formInput1" class="form-label">Your contacts(email, phone etc):</label>
                <input type="text" class="form-control" id="formInput1" placeholder="name@example.com +380000000" required>
            </div>
            <div class="mb-3">
                <label for="formTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="formTextarea1" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-secondary mb-3">Send</button>
        </form>
    </div>
</div>
<script type="module" src="/media/js/frontend/controllers/contacts/default/index.js" fetchpriority="low"></script>
{% endblock %}