<div id="footer" class="container-fluid mt-3 p-0">

    <div class="container-fluid">

        {% include 'layouts/footer/infoline.twig' %}

        {% include 'layouts/footer/links.twig' %}

        {% include 'layouts/footer/social-links.twig' %}

        {% include 'layouts/footer/policy.twig' %}

        {% include 'layouts/footer/copyrights.twig' %}

    </div>

</div>