<div class="container-fluid bg-secondary text-light">
    <div class="row">
        <div class="col">
            <div class="text-center">
                Logo
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                phone number
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                Sing in|Register
            </div>
        </div>
    </div>
</div>