{% block head %}
    {% set boostrapCssFile = '/media/css/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.getName() }}</title>
    <link rel="stylesheet" href="{{ boostrapCssFile }}"/>

{% endblock %}
