{# 
    data - Controller DTO (Default Page View DTO)
#}

{% set boostrapCssFile = '/media/css/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}
{% set fontAwesomeJsFile = 'https://kit.fontawesome.com/d99166463c.js' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.getName() }}</title>
    <link rel="stylesheet" href="{{ boostrapCssFile }}"/>
    <link rel="stylesheet" href="/media/css/main.css" />
    <script src="{{ fontAwesomeJsFile }}" crossorigin="anonymous"></script>
    {#
        How to add additional css
    #}
</head>
